.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}