.App {
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.MuiContainer-root {
  background-color: #282c34;
  overflow-x: hidden;
  min-height: 92vh;
  justify-content: center;
  align-items: center;
  color: white;
}